<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-default ">
    <div class="container-fluid">
      <span class="navbar-brand">Angular Task</span>
      <div class="collapse navbar-collapse">
        <ul class="nav nav-tabs">
          <li routerLinkActive="active current">
            <a [routerLink] = "'/task1'" > Task1 </a>
          </li>
          <li routerLinkActive="active current">
            <a [routerLink] = "'/task2'"> Task 2 </a>
          </li> 
          <li routerLinkActive="active current">
            <a [routerLink] = "'/task3'"> Task 3 </a>
            <ul class="nav nav-tabs">
              <li routerLinkActive="active current">
                <a [routerLink] = "'/task3/first-child'">First Child</a>
              <li routerLinkActive="active current">
                  <a [routerLink] = "'/task3/second-child'">Second Child</a>               
            </ul> 
          </li>
          <li routerLinkActive="active current">
            <a [routerLink] = "'/task4'"> Task 4 </a>
          </li>
          <li routerLinkActive="active current">
            <a [routerLink] = "'/task5'"> Task 5 </a>
          </li>
          <li routerLinkActive="active current">
            <a [routerLink] = "'/task6'"> Task 6 </a>
          </li>
          <li routerLinkActive="active current">
            <a [routerLink] = "'/task7'"> Task 7 </a>
          </li>
          <li routerLinkActive="active current">
            <a [routerLink] = "'/task8'"> Task 8 </a>
          </li>
          <li routerLinkActive="active current">
            <a [routerLink] = "'/task9'"> Task 9 </a>
          </li> 
        </ul>
      </div>
    </div>
</nav>


<router-outlet></router-outlet>